<mat-dialog-content>
  <h3>Ajouter un article</h3>
  <form [formRoot]="addForm">
    <div class="addInput">
      <label for="nom">Nom de l'article</label>
      <input
        id="nom"
        type="text"
        [formField]="addForm.name"
        placeholder="Ex : Bananes, Café, ..."
      />
      @if (addForm.name().touched() && addForm.name().invalid()) {
        @for (error of addForm.name().errors(); track error) {
          <p style="color: red">{{ error.message }}</p>
        }
      }
    </div>

    <div class="addInput">
      <label for="quantity">Quantité</label>
      <input type="number" [formField]="addForm.quantity" id="quantity" />
    </div>

    <div class="buttonDiv">
      <button mat-button type="submit" [disabled]="addForm.name().invalid()">Ajouter</button>
      <button (click)="cancel()">Annuler</button>
    </div>
  </form>
</mat-dialog-content>
