
<mat-dialog-content>
    <h3>Ajouter un article</h3>
    <form [formRoot]="addForm">
    <div class="addInput">
        <input type="text" [formField]="addForm.name" placeholder="Nom de l'article"/>
        @if (addForm.name().touched() && addForm.name().invalid()) {
            @for (error of addForm.name().errors(); track error) {
                <p style="color:red">{{error.message}}</p>}
            }

    </div>
    
    <div class="addInput">
    <label>Quantité
      <input type="number" [formField]="addForm.quantity" id="quantity"/>
    </label>
    </div>
    
    <div class="buttonDiv">
        <button type="submit" [disabled]="addForm.name().invalid()"> 
            Ajouter
        </button>
    
        <button (click)="cancel()">
            Annuler
        </button>
    </div>
    </form>
</mat-dialog-content>
