div {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
  background: #2c3e50;
  color: white;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;


  span:first-child {
    font-weight: bold;
    letter-spacing: 1px;
  }

  .buttonLogout {
    background: #3498db;
  }

  
}