@use '../../../../styles/variables' as vars;

  h1 {
    font-size: 2rem;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background: linear-gradient(to right, vars.$primary, vars.$accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    color: vars.$text-light;
    font-size: 1rem;
    margin: 0 60px 20px 60px;
  }

  .auth-actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
    margin: 0 auto;
  }

button {
  max-width : 50%;
}

.buttonDiv {
  display : flex;
  flex-direction : column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}