@use '../../../../styles/variables' as vars;

button {
  max-width : 50%;
}

mat-dialog-actions {
  display : flex;
  flex-direction : column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top : 0 !important;
  padding : 0 !important;
}