<app-header-component />
<h2>La liste de : {{ username() }}</h2>

<div class="button-container">
  <button class="btn-add" (click)="toAddComponent()">Ajouter un article</button>
</div>

<!-- La liste avec les articles actifs -->
@let activeItems = activeItems$ | async;
@if (activeItems?.length) {
  <ul class="items-grid">
    @for (item of activeItems; track item.id) {
      <app-item-component
        [item]="item"
        (itemDetached)="onDetach($event)"
        (quantityChanged)="loadItems()"
      />
    }
  </ul>
} @else {
  <p>Ta liste est vide !</p>
}

<!-- La liste avec les articles archivés -->
@let archivedItems = archivedItems$ | async;
@if (archivedItems?.length) {
  <h3>Vos anciens achats</h3>
  @for (item of archivedItems; track item.id) {
    <app-item-component
      [item]="item"
      (itemAttached)="onAttach($event)"
      (itemDeleted)="onDelete($event)"
      (quantityChanged)="loadItems()"
    />
  }
}
