<h2>Bonjour {{ username }}</h2>

<!-- La liste avec les articles actifs -->
<div *ngIf="(activeItems$ | async) as activeItems">
  <div *ngIf="activeItems.length > 0; else emptyList">
    <app-item-component
      *ngFor="let item of activeItems"
      [item]="item"
      (itemDetached)="onDetach($event)"
      (quantityChanged)="loadItems()" />
    <button (click)="toAddComponent()">Ajouter un article</button>
  </div>
</div>

<!-- Le message si la liste est vide -->
<ng-template #emptyList>
  <p>Ta liste est vide !</p>
  <button (click)="toAddComponent()">Ajouter un article</button>
</ng-template>

<!-- La liste avec les articles archivés -->
<div *ngIf="(archivedItems$ | async) as archivedItems">
  <div *ngIf="archivedItems.length > 0">
    <h3>Vos anciens achats</h3>
    <app-item-component
      *ngFor="let item of archivedItems"
      [item]="item"
      (itemAttached)="onAttach($event)"
      (itemDeleted)="onDelete($event)" 
      (quantityChanged)="loadItems()"/>
  </div>
</div>